#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.dish-form :is(input, select) {
  display: block;
  border: none;
  background-color: #f7f8ff;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  width: 100%;
}

.dish-form :is(input, select):focus {
  background-color: #fff;
  outline: 1px inset #646cff;
}

.appear {
  animation: 0.5s appear;
}

.center {
  text-align: center;
}

.error {
  color: #ae3737;
  font-weight: bold;
}

.loading {
  animation: loading 1s alternate infinite;
}

.info {
  font-size: 0.9rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  from {
    background-color: #f9f9f9;
  }
  to {
    background-color: #e7e8fa;
  }
}
